service-email/src/main/resources/application.yml
service-email/src/main/resources/application-dev.yml
service-email/src/main/resources/application-docker.yml
service-email/src/main/resources/application-prod.yml
service-email/src/main/resources/letter.html
service-data/src/main/resources/application.yml
service-data/src/main/resources/application-dev.yml
service-data/src/main/resources/application-prod.yml
service-auth/src/main/resources/application.yml
service-auth/src/main/resources/application-prod.yml
service-auth/src/main/resources/application-dev.yml
service-auth/src/main/resources/application-docker.yml
apigw/src/main/resources/application.yml
apigw/src/main/resources/application-docker.yml
apigw/src/main/resources/application-dev.yml
apigw/src/main/resources/application-prod.yml
service-user/src/main/resources/application-prod.yml
service-user/src/main/resources/application-dev.yml
service-user/src/main/resources/application.yml
service-user/src/main/resources/application-docker.yml
